---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/chrisUsick/workflow-test/pulls
    body:
      encoding: UTF-8
      string: '{"base":"master","head":"feature01","title":"Title for feature01","body":""}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2hyaXNVc2ljazowODM5MzZiMDY1NzllMDYxN2NiMzAyYzQzMzA5MTA3NzQyZTdlZTVj
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1486863776'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"resource":"PullRequest","field":"head","code":"invalid"}],"documentation_url":"https://developer.github.com/v3/pulls/#create-a-pull-request"}'
  recorded_at: Sun, 12 Feb 2017 00:43:40 GMT
recorded_with: VCR 3.0.3
