---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/chrisUsick/workflow-test/pulls
    body:
      encoding: UTF-8
      string: '{"base":"master","head":"chrisUsick:f3","title":"Title for feature01","body":""}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2hyaXNVc2ljazowODM5MzZiMDY1NzllMDYxN2NiMzAyYzQzMzA5MTA3NzQyZTdlZTVj
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1486985174'
      Etag:
      - '"c241c5c106ee456dd903db53c03b1534"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/chrisUsick/workflow-test/pulls/3
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/chrisUsick/workflow-test/pulls/3","id":105868049,"html_url":"https://github.com/chrisUsick/workflow-test/pull/3","diff_url":"https://github.com/chrisUsick/workflow-test/pull/3.diff","patch_url":"https://github.com/chrisUsick/workflow-test/pull/3.patch","issue_url":"https://api.github.com/repos/chrisUsick/workflow-test/issues/3","number":3,"state":"open","locked":false,"title":"Title
        for feature01","user":{"login":"chrisUsick","id":6589365,"avatar_url":"https://avatars.githubusercontent.com/u/6589365?v=3","gravatar_id":"","url":"https://api.github.com/users/chrisUsick","html_url":"https://github.com/chrisUsick","followers_url":"https://api.github.com/users/chrisUsick/followers","following_url":"https://api.github.com/users/chrisUsick/following{/other_user}","gists_url":"https://api.github.com/users/chrisUsick/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisUsick/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisUsick/subscriptions","organizations_url":"https://api.github.com/users/chrisUsick/orgs","repos_url":"https://api.github.com/users/chrisUsick/repos","events_url":"https://api.github.com/users/chrisUsick/events{/privacy}","received_events_url":"https://api.github.com/users/chrisUsick/received_events","type":"User","site_admin":false},"body":"","created_at":"2017-02-13T10:44:41Z","updated_at":"2017-02-13T10:44:41Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"milestone":null,"commits_url":"https://api.github.com/repos/chrisUsick/workflow-test/pulls/3/commits","review_comments_url":"https://api.github.com/repos/chrisUsick/workflow-test/pulls/3/comments","review_comment_url":"https://api.github.com/repos/chrisUsick/workflow-test/pulls/comments{/number}","comments_url":"https://api.github.com/repos/chrisUsick/workflow-test/issues/3/comments","statuses_url":"https://api.github.com/repos/chrisUsick/workflow-test/statuses/e90fcdf87b1f6ad58427a15379c8aa0c47cdcb07","head":{"label":"chrisUsick:f3","ref":"f3","sha":"e90fcdf87b1f6ad58427a15379c8aa0c47cdcb07","user":{"login":"chrisUsick","id":6589365,"avatar_url":"https://avatars.githubusercontent.com/u/6589365?v=3","gravatar_id":"","url":"https://api.github.com/users/chrisUsick","html_url":"https://github.com/chrisUsick","followers_url":"https://api.github.com/users/chrisUsick/followers","following_url":"https://api.github.com/users/chrisUsick/following{/other_user}","gists_url":"https://api.github.com/users/chrisUsick/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisUsick/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisUsick/subscriptions","organizations_url":"https://api.github.com/users/chrisUsick/orgs","repos_url":"https://api.github.com/users/chrisUsick/repos","events_url":"https://api.github.com/users/chrisUsick/events{/privacy}","received_events_url":"https://api.github.com/users/chrisUsick/received_events","type":"User","site_admin":false},"repo":{"id":79280921,"name":"workflow-test","full_name":"chrisUsick/workflow-test","owner":{"login":"chrisUsick","id":6589365,"avatar_url":"https://avatars.githubusercontent.com/u/6589365?v=3","gravatar_id":"","url":"https://api.github.com/users/chrisUsick","html_url":"https://github.com/chrisUsick","followers_url":"https://api.github.com/users/chrisUsick/followers","following_url":"https://api.github.com/users/chrisUsick/following{/other_user}","gists_url":"https://api.github.com/users/chrisUsick/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisUsick/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisUsick/subscriptions","organizations_url":"https://api.github.com/users/chrisUsick/orgs","repos_url":"https://api.github.com/users/chrisUsick/repos","events_url":"https://api.github.com/users/chrisUsick/events{/privacy}","received_events_url":"https://api.github.com/users/chrisUsick/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/chrisUsick/workflow-test","description":null,"fork":false,"url":"https://api.github.com/repos/chrisUsick/workflow-test","forks_url":"https://api.github.com/repos/chrisUsick/workflow-test/forks","keys_url":"https://api.github.com/repos/chrisUsick/workflow-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/chrisUsick/workflow-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/chrisUsick/workflow-test/teams","hooks_url":"https://api.github.com/repos/chrisUsick/workflow-test/hooks","issue_events_url":"https://api.github.com/repos/chrisUsick/workflow-test/issues/events{/number}","events_url":"https://api.github.com/repos/chrisUsick/workflow-test/events","assignees_url":"https://api.github.com/repos/chrisUsick/workflow-test/assignees{/user}","branches_url":"https://api.github.com/repos/chrisUsick/workflow-test/branches{/branch}","tags_url":"https://api.github.com/repos/chrisUsick/workflow-test/tags","blobs_url":"https://api.github.com/repos/chrisUsick/workflow-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/chrisUsick/workflow-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/chrisUsick/workflow-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/chrisUsick/workflow-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/chrisUsick/workflow-test/statuses/{sha}","languages_url":"https://api.github.com/repos/chrisUsick/workflow-test/languages","stargazers_url":"https://api.github.com/repos/chrisUsick/workflow-test/stargazers","contributors_url":"https://api.github.com/repos/chrisUsick/workflow-test/contributors","subscribers_url":"https://api.github.com/repos/chrisUsick/workflow-test/subscribers","subscription_url":"https://api.github.com/repos/chrisUsick/workflow-test/subscription","commits_url":"https://api.github.com/repos/chrisUsick/workflow-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/chrisUsick/workflow-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/chrisUsick/workflow-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/chrisUsick/workflow-test/issues/comments{/number}","contents_url":"https://api.github.com/repos/chrisUsick/workflow-test/contents/{+path}","compare_url":"https://api.github.com/repos/chrisUsick/workflow-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/chrisUsick/workflow-test/merges","archive_url":"https://api.github.com/repos/chrisUsick/workflow-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/chrisUsick/workflow-test/downloads","issues_url":"https://api.github.com/repos/chrisUsick/workflow-test/issues{/number}","pulls_url":"https://api.github.com/repos/chrisUsick/workflow-test/pulls{/number}","milestones_url":"https://api.github.com/repos/chrisUsick/workflow-test/milestones{/number}","notifications_url":"https://api.github.com/repos/chrisUsick/workflow-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/chrisUsick/workflow-test/labels{/name}","releases_url":"https://api.github.com/repos/chrisUsick/workflow-test/releases{/id}","deployments_url":"https://api.github.com/repos/chrisUsick/workflow-test/deployments","created_at":"2017-01-17T22:54:55Z","updated_at":"2017-01-25T04:17:52Z","pushed_at":"2017-02-13T10:34:11Z","git_url":"git://github.com/chrisUsick/workflow-test.git","ssh_url":"git@github.com:chrisUsick/workflow-test.git","clone_url":"https://github.com/chrisUsick/workflow-test.git","svn_url":"https://github.com/chrisUsick/workflow-test","homepage":null,"size":64,"stargazers_count":0,"watchers_count":0,"language":"PHP","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master"}},"base":{"label":"chrisUsick:master","ref":"master","sha":"6583d99be8e91bdbb316586a4ab87d654c070c1b","user":{"login":"chrisUsick","id":6589365,"avatar_url":"https://avatars.githubusercontent.com/u/6589365?v=3","gravatar_id":"","url":"https://api.github.com/users/chrisUsick","html_url":"https://github.com/chrisUsick","followers_url":"https://api.github.com/users/chrisUsick/followers","following_url":"https://api.github.com/users/chrisUsick/following{/other_user}","gists_url":"https://ap[...]
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2hyaXNVc2ljazowODM5MzZiMDY1NzllMDYxN2NiMzAyYzQzMzA5MTA3NzQyZTdlZTVj
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1486985174'
      Etag:
      - W/"0b159fc747411026c675deccb6ecd524"
      Last-Modified:
      - Sun, 12 Feb 2017 01:08:25 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"chrisUsick","id":6589365,"avatar_url":"https://avatars.githubusercontent.com/u/6589365?v=3","gravatar_id":"","url":"https://api.github.com/users/chrisUsick","html_url":"https://github.com/chrisUsick","followers_url":"https://api.github.com/users/chrisUsick/followers","following_url":"https://api.github.com/users/chrisUsick/following{/other_user}","gists_url":"https://api.github.com/users/chrisUsick/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisUsick/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisUsick/subscriptions","organizations_url":"https://api.github.com/users/chrisUsick/orgs","repos_url":"https://api.github.com/users/chrisUsick/repos","events_url":"https://api.github.com/users/chrisUsick/events{/privacy}","received_events_url":"https://api.github.com/users/chrisUsick/received_events","type":"User","site_admin":false,"name":"Chris
        Usick","company":"Ninefinecode","blog":"http://cu-dev.ca","location":null,"email":null,"hireable":true,"bio":null,"public_repos":94,"public_gists":1,"followers":6,"following":5,"created_at":"2014-02-04T22:11:34Z","updated_at":"2017-02-12T01:08:25Z"}'
  recorded_at: Mon, 13 Feb 2017 11:14:26 GMT
recorded_with: VCR 3.0.3
