---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/chrisUsick/workflow-test/pulls?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2hyaXNVc2ljazowODM5MzZiMDY1NzllMDYxN2NiMzAyYzQzMzA5MTA3NzQyZTdlZTVj
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1487571199'
      Etag:
      - W/"0be202a1d9915c53d66f794c026edc4c"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/chrisUsick/workflow-test/pulls/7","id":106941267,"html_url":"https://github.com/chrisUsick/workflow-test/pull/7","diff_url":"https://github.com/chrisUsick/workflow-test/pull/7.diff","patch_url":"https://github.com/chrisUsick/workflow-test/pull/7.patch","issue_url":"https://api.github.com/repos/chrisUsick/workflow-test/issues/7","number":7,"state":"open","locked":false,"title":"Bumped
        version agian","user":{"login":"chrisUsick","id":6589365,"avatar_url":"https://avatars.githubusercontent.com/u/6589365?v=3","gravatar_id":"","url":"https://api.github.com/users/chrisUsick","html_url":"https://github.com/chrisUsick","followers_url":"https://api.github.com/users/chrisUsick/followers","following_url":"https://api.github.com/users/chrisUsick/following{/other_user}","gists_url":"https://api.github.com/users/chrisUsick/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisUsick/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisUsick/subscriptions","organizations_url":"https://api.github.com/users/chrisUsick/orgs","repos_url":"https://api.github.com/users/chrisUsick/repos","events_url":"https://api.github.com/users/chrisUsick/events{/privacy}","received_events_url":"https://api.github.com/users/chrisUsick/received_events","type":"User","site_admin":false},"body":null,"created_at":"2017-02-20T05:18:24Z","updated_at":"2017-02-20T05:18:24Z","closed_at":null,"merged_at":null,"merge_commit_sha":"d84aa6de6c6e56821c4df3c2a1cadf100075a9ab","assignee":null,"assignees":[],"milestone":null,"commits_url":"https://api.github.com/repos/chrisUsick/workflow-test/pulls/7/commits","review_comments_url":"https://api.github.com/repos/chrisUsick/workflow-test/pulls/7/comments","review_comment_url":"https://api.github.com/repos/chrisUsick/workflow-test/pulls/comments{/number}","comments_url":"https://api.github.com/repos/chrisUsick/workflow-test/issues/7/comments","statuses_url":"https://api.github.com/repos/chrisUsick/workflow-test/statuses/e9aafe89dd0290bb2ba11fb63f0082b6242f8d1a","head":{"label":"chrisUsick:f7","ref":"f7","sha":"e9aafe89dd0290bb2ba11fb63f0082b6242f8d1a","user":{"login":"chrisUsick","id":6589365,"avatar_url":"https://avatars.githubusercontent.com/u/6589365?v=3","gravatar_id":"","url":"https://api.github.com/users/chrisUsick","html_url":"https://github.com/chrisUsick","followers_url":"https://api.github.com/users/chrisUsick/followers","following_url":"https://api.github.com/users/chrisUsick/following{/other_user}","gists_url":"https://api.github.com/users/chrisUsick/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisUsick/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisUsick/subscriptions","organizations_url":"https://api.github.com/users/chrisUsick/orgs","repos_url":"https://api.github.com/users/chrisUsick/repos","events_url":"https://api.github.com/users/chrisUsick/events{/privacy}","received_events_url":"https://api.github.com/users/chrisUsick/received_events","type":"User","site_admin":false},"repo":{"id":79280921,"name":"workflow-test","full_name":"chrisUsick/workflow-test","owner":{"login":"chrisUsick","id":6589365,"avatar_url":"https://avatars.githubusercontent.com/u/6589365?v=3","gravatar_id":"","url":"https://api.github.com/users/chrisUsick","html_url":"https://github.com/chrisUsick","followers_url":"https://api.github.com/users/chrisUsick/followers","following_url":"https://api.github.com/users/chrisUsick/following{/other_user}","gists_url":"https://api.github.com/users/chrisUsick/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisUsick/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisUsick/subscriptions","organizations_url":"https://api.github.com/users/chrisUsick/orgs","repos_url":"https://api.github.com/users/chrisUsick/repos","events_url":"https://api.github.com/users/chrisUsick/events{/privacy}","received_events_url":"https://api.github.com/users/chrisUsick/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/chrisUsick/workflow-test","description":null,"fork":false,"url":"https://api.github.com/repos/chrisUsick/workflow-test","forks_url":"https://api.github.com/repos/chrisUsick/workflow-test/forks","keys_url":"https://api.github.com/repos/chrisUsick/workflow-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/chrisUsick/workflow-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/chrisUsick/workflow-test/teams","hooks_url":"https://api.github.com/repos/chrisUsick/workflow-test/hooks","issue_events_url":"https://api.github.com/repos/chrisUsick/workflow-test/issues/events{/number}","events_url":"https://api.github.com/repos/chrisUsick/workflow-test/events","assignees_url":"https://api.github.com/repos/chrisUsick/workflow-test/assignees{/user}","branches_url":"https://api.github.com/repos/chrisUsick/workflow-test/branches{/branch}","tags_url":"https://api.github.com/repos/chrisUsick/workflow-test/tags","blobs_url":"https://api.github.com/repos/chrisUsick/workflow-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/chrisUsick/workflow-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/chrisUsick/workflow-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/chrisUsick/workflow-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/chrisUsick/workflow-test/statuses/{sha}","languages_url":"https://api.github.com/repos/chrisUsick/workflow-test/languages","stargazers_url":"https://api.github.com/repos/chrisUsick/workflow-test/stargazers","contributors_url":"https://api.github.com/repos/chrisUsick/workflow-test/contributors","subscribers_url":"https://api.github.com/repos/chrisUsick/workflow-test/subscribers","subscription_url":"https://api.github.com/repos/chrisUsick/workflow-test/subscription","commits_url":"https://api.github.com/repos/chrisUsick/workflow-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/chrisUsick/workflow-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/chrisUsick/workflow-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/chrisUsick/workflow-test/issues/comments{/number}","contents_url":"https://api.github.com/repos/chrisUsick/workflow-test/contents/{+path}","compare_url":"https://api.github.com/repos/chrisUsick/workflow-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/chrisUsick/workflow-test/merges","archive_url":"https://api.github.com/repos/chrisUsick/workflow-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/chrisUsick/workflow-test/downloads","issues_url":"https://api.github.com/repos/chrisUsick/workflow-test/issues{/number}","pulls_url":"https://api.github.com/repos/chrisUsick/workflow-test/pulls{/number}","milestones_url":"https://api.github.com/repos/chrisUsick/workflow-test/milestones{/number}","notifications_url":"https://api.github.com/repos/chrisUsick/workflow-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/chrisUsick/workflow-test/labels{/name}","releases_url":"https://api.github.com/repos/chrisUsick/workflow-test/releases{/id}","deployments_url":"https://api.github.com/repos/chrisUsick/workflow-test/deployments","created_at":"2017-01-17T22:54:55Z","updated_at":"2017-01-25T04:17:52Z","pushed_at":"2017-02-20T05:18:25Z","git_url":"git://github.com/chrisUsick/workflow-test.git","ssh_url":"git@github.com:chrisUsick/workflow-test.git","clone_url":"https://github.com/chrisUsick/workflow-test.git","svn_url":"https://github.com/chrisUsick/workflow-test","homepage":null,"size":66,"stargazers_count":0,"watchers_count":0,"language":"PHP","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master"}},"base":{"label":"chrisUsick:master","ref":"master","sha":"051952304f5efe20f5e0cef7ca7c23e82b76de7d","user":{"login":"chrisUsick","id":6589365,"avatar_url":"https://avatars.githubusercontent.com/u/6589365?v=3","gravatar_id":"","url":"https://api.github.com/users/chrisUsick","html_url":"https://github.com/chrisUsick","followers_url":"https://api.github.com/users/chrisUsick/followers","following_url":"https://api.github.com/users/chrisUsick/following{/other_user}","gists_url":"https://api.github.com/users[...]
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2hyaXNVc2ljazowODM5MzZiMDY1NzllMDYxN2NiMzAyYzQzMzA5MTA3NzQyZTdlZTVj
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1487571199'
      Etag:
      - W/"ddf4affe8837640c654b1fda1a2d0807"
      Last-Modified:
      - Sun, 19 Feb 2017 22:03:47 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"chrisUsick","id":6589365,"avatar_url":"https://avatars.githubusercontent.com/u/6589365?v=3","gravatar_id":"","url":"https://api.github.com/users/chrisUsick","html_url":"https://github.com/chrisUsick","followers_url":"https://api.github.com/users/chrisUsick/followers","following_url":"https://api.github.com/users/chrisUsick/following{/other_user}","gists_url":"https://api.github.com/users/chrisUsick/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisUsick/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisUsick/subscriptions","organizations_url":"https://api.github.com/users/chrisUsick/orgs","repos_url":"https://api.github.com/users/chrisUsick/repos","events_url":"https://api.github.com/users/chrisUsick/events{/privacy}","received_events_url":"https://api.github.com/users/chrisUsick/received_events","type":"User","site_admin":false,"name":"Chris
        Usick","company":"Ninefinecode","blog":"http://cu-dev.ca","location":null,"email":null,"hireable":true,"bio":null,"public_repos":94,"public_gists":1,"followers":6,"following":5,"created_at":"2014-02-04T22:11:34Z","updated_at":"2017-02-19T22:03:47Z"}'
  recorded_at: Mon, 20 Feb 2017 05:20:55 GMT
recorded_with: VCR 3.0.3
